.pline1 {
  display: inline-flex;
}
.line1 {
    border: 6px solid limegreen;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 500px;
  }
.aline {
    border: 6px solid silver;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100px;
  }
.line2 {
    border: 6px solid orange;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 475px;
  }
  .bline {
      border: 6px solid silver;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 125px;
    }
.line3 {
    border: 6px solid orangered;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 450px;
  }
  .cline {
      border: 6px solid silver;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 150px;
    }
.line4 {
    border: 6px solid orchid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 500px;
  }
  .dline {
      border: 6px solid silver;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 100px;
    }
.line5 {
    border: 6px solid slateblue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 400px;
  }
  .eline {
      border: 6px solid silver;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 200px;
    }
.line6 {
    border: 6px solid lightcoral;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 500px;
  }
  .fline {
      border: 6px solid silver;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 100px;
    }
.para {
  display: inline-flex;
}
.skill {

}
.percent {
  margin-left: 300px;
}
.card-body h1 {
  margin-bottom: 40px;
}